[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pylint = "*"
flask = "*"
pyyaml = "*"
pillow = "*"
scikit-image = "*"
numpy = "*"
visdom = "*"
ipython = "*"
matplotlib = "*"
cython = "*"
pydensecrf = "*"


[dev-packages]



[requires]

python_version = "3.6"
